{"openapi":"3.0.0","info":{"title":"AnhTester Book Management API","description":"A comprehensive API for managing books, users, files, categories, and addresses, provided by [AnhTester](https://anhtester.com). The API is designed to be easy to use and supports a wide range of operations for book management, user management, file management, category management, and address management.             UI page to run this API: [book.anhtester.com](https://book.anhtester.com)","version":"1.0.0","contact":{"name":"AnhTester Support","url":"https://anhtester.com","email":"thaian.it15@gmail.com"}},"tags":[{"name":"Authentication Management","description":"Manage user authentication, including creation and refresh of JWT tokens."},{"name":"User Management","description":"Manage user accounts, including creating, updating, and deleting user information."},{"name":"File Management","description":"Support file operations such as upload, download, and file management."},{"name":"Book Management","description":"Manage book information, including creating, updating, and retrieving book lists."},{"name":"Category Management","description":"Manage book categories, including creating and updating category lists."},{"name":"Address Management","description":"Manage address information in Vietnam, including creation, retrieval, and updates."},{"name":"Promotion Management","description":"Manage promotions, update information, and provide promotion details."}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"security":[{"BearerAuth":[]}],"servers":[{"url":"https://book.anhtester.com","description":"Production Server"}],"paths":{"/api/login":{"post":{"tags":["Authentication Management"],"security":[],"description":"Login to access the system.","parameters":[{"name":"refetchToken","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"accessToken","in":"cookie","required":false,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"format":"email","type":"string"},"password":{"type":"string"}},"required":["email","password"],"additionalProperties":false}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"email":{"format":"email","type":"string"},"password":{"type":"string"}},"required":["email","password"],"additionalProperties":false}},"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"format":"email","type":"string"},"password":{"type":"string"}},"required":["email","password"],"additionalProperties":false}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"accessToken":{"type":"string"},"exp":{"type":"string"}},"required":["msg","accessToken","exp"],"additionalProperties":false}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"],"additionalProperties":false}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"],"additionalProperties":false}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"],"additionalProperties":false}}}}},"operationId":"postApiLogin"}},"/api/register":{"post":{"tags":["Authentication Management"],"security":[],"description":"Register new user account.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"type":"string"},"avatarUrl":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"}},"required":["name","email","password"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"type":"string"},"avatarUrl":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"}},"required":["name","email","password"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"type":"string"},"avatarUrl":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"}},"required":["name","email","password"]}}}},"responses":{"201":{"description":"Response for status 201","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"postApiRegister"}},"/api/refetch-token":{"post":{"tags":["Authentication Management"],"security":[],"description":"Refresh token to get new access token.","parameters":[{"name":"refetchToken","in":"cookie","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"accessToken":{"type":"string"},"exp":{"type":"string"}},"required":["msg","accessToken","exp"],"additionalProperties":false}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"],"additionalProperties":false}}}}},"operationId":"postApiRefetch-token"}},"/api/profile":{"patch":{"tags":["Authentication Management"],"description":"Update user profile.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"type":"string"},"password_old":{"type":"string"},"avatarUrl":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"config":{}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"type":"string"},"password_old":{"type":"string"},"avatarUrl":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"config":{}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"type":"string"},"password_old":{"type":"string"},"avatarUrl":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"config":{}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}},"401":{"description":"Response for status 401","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"patchApiProfile"}},"/api/me":{"get":{"tags":["Authentication Management"],"description":"Get current user information.","responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"avatarUrl":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"config":{}},"required":["id","name","email","avatarUrl","phone","address"],"additionalProperties":false}}}},"401":{"description":"Response for status 401","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"],"additionalProperties":false}}}}},"operationId":"getApiMe"}},"/api/logout":{"delete":{"tags":["Authentication Management"],"description":"Logout from the system","parameters":[{"name":"refetchToken","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"accessToken","in":"cookie","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"401":{"description":"Response for status 401","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"deleteApiLogout"}},"/api/category-book":{"get":{"tags":["Category Management"],"security":[],"description":"Get list of categories","responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"bookCount":{"type":"number"}},"required":["name","bookCount"]}},"pagination":{"type":"object","properties":{"total":{"type":"number"}},"required":["total"]}},"required":["list","pagination"],"additionalProperties":false}}}}},"operationId":"getApiCategory-book"},"post":{"tags":["Category Management"],"description":"Create new category","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}}}},"responses":{"201":{"description":"Response for status 201","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"postApiCategory-book"},"put":{"tags":["Category Management"],"description":"Update category","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"newName":{"type":"string"}},"required":["name","newName"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"newName":{"type":"string"}},"required":["name","newName"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string"},"newName":{"type":"string"}},"required":["name","newName"]}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"putApiCategory-book"}},"/api/category-book/{name}":{"delete":{"tags":["Category Management"],"description":"Delete category","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"deleteApiCategory-bookByName"}},"/api/user":{"get":{"tags":["User Management"],"description":"Get a paginated list of users with optional filters and sorting","security":[],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"default":10,"minimum":1,"maximum":10000,"anyOf":[{"default":0,"minimum":1,"maximum":10000,"format":"numeric","type":"string"},{"default":10,"minimum":1,"maximum":10000,"type":"number"}]}},{"name":"page","in":"query","required":false,"schema":{"default":1,"minimum":1,"anyOf":[{"default":0,"minimum":1,"format":"numeric","type":"string"},{"default":1,"minimum":1,"type":"number"}]}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","required":false,"schema":{"default":"updatedAt","type":"string","enum":["name","email","isActive","phone","address","createdAt","updatedAt"]}},{"name":"sortBy","in":"query","required":false,"schema":{"default":"desc","type":"string","enum":["asc","desc"]}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"avatarUrl":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"isActive":{"type":"boolean"},"createdAt":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"updatedAt":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]}},"required":["id","name","email","avatarUrl","phone","address","isActive","createdAt","updatedAt"]}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"totalPage":{"type":"number"},"currentPage":{"type":"number"},"lengthData":{"type":"number"}},"required":["total","totalPage","currentPage","lengthData"]}},"required":["list","pagination"],"additionalProperties":false}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"error":{"type":"string"}},"required":["msg","error"],"additionalProperties":false}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"],"additionalProperties":false}}}},"500":{"description":"Response for status 500","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}}},"operationId":"getApiUser"},"post":{"tags":["User Management"],"description":"Create a new user","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"default":"anhtester.com","type":"string"},"avatarUrl":{"type":"string"},"address":{"type":"string"},"phone":{"type":"string"},"isActive":{"type":"boolean"}},"required":["name","email"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"default":"anhtester.com","type":"string"},"avatarUrl":{"type":"string"},"address":{"type":"string"},"phone":{"type":"string"},"isActive":{"type":"boolean"}},"required":["name","email"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"default":"anhtester.com","type":"string"},"avatarUrl":{"type":"string"},"address":{"type":"string"},"phone":{"type":"string"},"isActive":{"type":"boolean"}},"required":["name","email"]}}}},"responses":{"201":{"description":"Response for status 201","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"postApiUser"}},"/api/user/{id}":{"get":{"tags":["User Management"],"description":"Get detailed information of a specific user by ID","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"avatarUrl":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"isActive":{"type":"boolean"},"createdAt":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"updatedAt":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]}},"required":["id","name","email","avatarUrl","phone","address","isActive","createdAt","updatedAt"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}}},"operationId":"getApiUserById"},"patch":{"tags":["User Management"],"description":"Update user information by ID and revoke old refresh tokens","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"type":"string"},"avatarUrl":{"type":"string"},"address":{"type":"string"},"phone":{"type":"string"},"isActive":{"type":"boolean"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"type":"string"},"avatarUrl":{"type":"string"},"address":{"type":"string"},"phone":{"type":"string"},"isActive":{"type":"boolean"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"format":"email","type":"string"},"password":{"type":"string"},"avatarUrl":{"type":"string"},"address":{"type":"string"},"phone":{"type":"string"},"isActive":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"patchApiUserById"},"delete":{"tags":["User Management"],"description":"Delete a user by ID and remove all related refresh tokens","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"deleteApiUserById"}},"/api/file":{"get":{"tags":["File Management"],"security":[],"description":"Get files in a directory.","parameters":[{"name":"path","in":"query","required":false,"schema":{"default":"/","type":"string"}},{"name":"search","in":"query","required":false,"schema":{"default":"","type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"anyOf":[{"type":"object","required":["list"],"additionalProperties":false,"properties":{"list":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"path":{"type":"string"},"isFile":{"type":"boolean"},"size":{"type":"number"},"type":{"type":"string"},"modified":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"created":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]}},"required":["name","path","isFile","size","type","modified","created"]}}}},{"default":"File","type":"string","format":"binary"}]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}}},"operationId":"getApiFile"},"post":{"tags":["File Management"],"description":"Upload files.","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"multiple":true,"maxItems":20,"minItems":1,"maxSize":5242880,"accept":["image/jpeg","image/png","image/gif","image/webp","image/bmp","image/svg+xml","application/zip","application/x-zip-compressed","application/x-rar-compressed","application/x-7z-compressed","application/x-tar","application/x-gzip","application/x-bzip2","application/x-7z-compressed","application/pdf","application/x-pdf"],"elysiaMeta":"Files","default":"Files","type":"array","items":{"multiple":true,"maxItems":20,"minItems":1,"maxSize":5242880,"accept":["image/jpeg","image/png","image/gif","image/webp","image/bmp","image/svg+xml","application/zip","application/x-zip-compressed","application/x-rar-compressed","application/x-7z-compressed","application/x-tar","application/x-gzip","application/x-bzip2","application/x-7z-compressed","application/pdf","application/x-pdf"],"default":"Files","type":"string","format":"binary"}},"path":{"default":"/","type":"string"}},"required":["files"],"additionalProperties":false}}},"required":true},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"paths":{"type":"array","items":{"type":"string"}}},"required":["msg","paths"],"additionalProperties":false}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"],"additionalProperties":false}}}}},"operationId":"postApiFile"},"delete":{"tags":["File Management"],"description":"Delete files.","parameters":[{"name":"path","in":"query","required":true,"schema":{"anyOf":[{"pattern":"^/[^/]+(/[^/]+)*$","type":"string"},{"elysiaMeta":"ArrayQuery","anyOf":[{"type":"string"},{"type":"array","items":{"pattern":"^/[^/]+(/[^/]+)*$","type":"string"}}]}]}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"deleteApiFile"}},"/api/file/info":{"get":{"tags":["File Management"],"security":[],"description":"Get information about storage.","operationId":"getApiFileInfo"}},"/api/file/rename":{"put":{"tags":["File Management"],"description":"Rename file or directory.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"path":{"type":"string"},"name":{"type":"string"}},"required":["path","name"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"path":{"type":"string"},"name":{"type":"string"}},"required":["path","name"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"path":{"type":"string"},"name":{"type":"string"}},"required":["path","name"]}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"putApiFileRename"}},"/api/file/copy":{"post":{"tags":["File Management"],"description":"Copy file or directory.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"oldPath":{"type":"string"},"newPath":{"type":"string"}},"required":["oldPath","newPath"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"oldPath":{"type":"string"},"newPath":{"type":"string"}},"required":["oldPath","newPath"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"oldPath":{"type":"string"},"newPath":{"type":"string"}},"required":["oldPath","newPath"]}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"postApiFileCopy"}},"/api/file/move":{"put":{"tags":["File Management"],"description":"Move file or directory.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"oldPath":{"type":"string"},"newPath":{"type":"string"}},"required":["oldPath","newPath"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"oldPath":{"type":"string"},"newPath":{"type":"string"}},"required":["oldPath","newPath"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"oldPath":{"type":"string"},"newPath":{"type":"string"}},"required":["oldPath","newPath"]}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"putApiFileMove"}},"/api/book":{"get":{"tags":["Book Management"],"description":"Query list of books (pagination, filtering, sorting)","security":[],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"default":10,"minimum":1,"maximum":10000,"anyOf":[{"default":0,"minimum":1,"maximum":10000,"format":"numeric","type":"string"},{"default":10,"minimum":1,"maximum":10000,"type":"number"}]}},{"name":"page","in":"query","required":false,"schema":{"default":1,"minimum":1,"anyOf":[{"default":0,"minimum":1,"format":"numeric","type":"string"},{"default":1,"minimum":1,"type":"number"}]}},{"name":"search","in":"query","required":false,"schema":{"default":"","type":"string"}},{"name":"sort","in":"query","required":false,"schema":{"default":"updatedAt","type":"string","enum":["name","description","status","createdAt","updatedAt","slug","price","currentPrice","viewCount"]}},{"name":"sortBy","in":"query","required":false,"schema":{"default":"desc","type":"string","enum":["asc","desc"]}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"slug":{"type":"string"},"categories":{"type":"array","items":{"type":"string"}},"picture":{"type":"array","items":{"type":"string"}},"auth":{"nullable":true,"anyOf":[{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"avatarUrl":{"type":"string"}},"required":["name","email","avatarUrl"]},{"type":"null"}]},"status":{"default":"AVAILABLE","type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"createdAt":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"updatedAt":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"price":{"type":"number"},"currentPrice":{"type":"number"},"viewCount":{"type":"number"},"promotions":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"default":"PERCENTAGE","type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"startDate":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"endDate":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"code":{"type":"string"},"value":{"type":"number"}},"required":["name","description","type","startDate","endDate","code","value"]}}},"required":["id","name","description","slug","categories","picture","auth","status","createdAt","updatedAt","price","currentPrice","viewCount","promotions"]}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"totalPage":{"type":"number"},"currentPage":{"type":"number"},"lengthData":{"type":"number"}},"required":["total","totalPage","currentPage","lengthData"]}},"required":["list","pagination"],"additionalProperties":false}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"error":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"],"additionalProperties":false}}}}},"operationId":"getApiBook"},"post":{"tags":["Book Management"],"description":"Create a new book","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"status":{"default":"AVAILABLE","type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"pictures":{"type":"array","items":{"type":"string"}},"categories":{"minItems":1,"type":"array","items":{"type":"string"}},"price":{"default":50000,"maximum":9000000000000,"type":"number"},"promotions":{"type":"array","items":{"type":"string"}}},"required":["name","status","categories","price"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"status":{"default":"AVAILABLE","type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"pictures":{"type":"array","items":{"type":"string"}},"categories":{"minItems":1,"type":"array","items":{"type":"string"}},"price":{"default":50000,"maximum":9000000000000,"type":"number"},"promotions":{"type":"array","items":{"type":"string"}}},"required":["name","status","categories","price"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"status":{"default":"AVAILABLE","type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"pictures":{"type":"array","items":{"type":"string"}},"categories":{"minItems":1,"type":"array","items":{"type":"string"}},"price":{"default":50000,"maximum":9000000000000,"type":"number"},"promotions":{"type":"array","items":{"type":"string"}}},"required":["name","status","categories","price"]}}}},"responses":{"201":{"description":"Response for status 201","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"401":{"description":"Response for status 401","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"postApiBook"}},"/api/book/{id}":{"get":{"tags":["Book Management"],"security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"examples":["true","false"],"anyOf":[{"examples":["true","false"],"type":"boolean","anyOf":[{"examples":["true","false"],"type":"boolean"},{"examples":["true","false"],"type":"string","format":"boolean","default":false}]},{"format":"boolean","default":false,"type":"string"}]}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"price":{"type":"number"},"currentPrice":{"type":"number"},"viewCount":{"type":"number"},"status":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"createdAt":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"updatedAt":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"picture":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"path":{"type":"string"},"isFile":{"type":"boolean"},"size":{"type":"number"},"type":{"type":"string"},"modified":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"created":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]}},"required":["name","path","isFile","size","type","modified","created"]}},"auth":{"anyOf":[{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"avatarUrl":{"type":"string"}},"required":["name","email","avatarUrl"]},{"type":"null"}]},"categories":{"type":"array","items":{"type":"string"}},"promotions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"startDate":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"endDate":{"format":"date-time","anyOf":[{"format":"date-time","type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"code":{"type":"string"},"value":{"type":"number"}},"required":["id","name","description","type","startDate","endDate","code","value"]}}},"required":["id","name","description","price","currentPrice","viewCount","status","createdAt","updatedAt","picture","auth","categories","promotions"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}}},"operationId":"getApiBookById"},"patch":{"tags":["Book Management"],"description":"Update a book","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"status":{"default":"AVAILABLE","type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"pictures":{"type":"array","items":{"type":"string"}},"categories":{"minItems":1,"type":"array","items":{"type":"string"}},"price":{"default":50000,"maximum":9000000000000,"type":"number"},"promotions":{"type":"array","items":{"type":"string"}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"status":{"default":"AVAILABLE","type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"pictures":{"type":"array","items":{"type":"string"}},"categories":{"minItems":1,"type":"array","items":{"type":"string"}},"price":{"default":50000,"maximum":9000000000000,"type":"number"},"promotions":{"type":"array","items":{"type":"string"}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"status":{"default":"AVAILABLE","type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"pictures":{"type":"array","items":{"type":"string"}},"categories":{"minItems":1,"type":"array","items":{"type":"string"}},"price":{"default":50000,"maximum":9000000000000,"type":"number"},"promotions":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"201":{"description":"Response for status 201","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"401":{"description":"Response for status 401","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"patchApiBookById"},"delete":{"tags":["Book Management"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"deleteApiBookById"}},"/api/promotion-book":{"get":{"tags":["Promotion Management"],"description":"Query list of promotions","security":[],"parameters":[{"name":"limit","in":"query","required":true,"schema":{"default":10,"minimum":1,"maximum":10000,"anyOf":[{"default":0,"minimum":1,"maximum":10000,"format":"numeric","type":"string"},{"default":10,"minimum":1,"maximum":10000,"type":"number"}]}},{"name":"page","in":"query","required":true,"schema":{"default":1,"minimum":1,"anyOf":[{"default":0,"minimum":1,"format":"numeric","type":"string"},{"default":1,"minimum":1,"type":"number"}]}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","required":true,"schema":{"default":"updatedAt","type":"string","enum":["code","name","description","type","value","startDate","endDate","isActive","createdAt","updatedAt"]}},{"name":"sortBy","in":"query","required":true,"schema":{"default":"desc","type":"string","enum":["asc","desc"]}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"value":{"type":"number"},"startDate":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"endDate":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"isActive":{"type":"boolean"},"createdAt":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"updatedAt":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"countBooks":{"type":"number"}},"required":["id","code","name","description","type","value","startDate","endDate","isActive","createdAt","updatedAt","countBooks"]}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"totalPage":{"type":"number"},"currentPage":{"type":"number"},"lengthData":{"type":"number"}},"required":["total","totalPage","currentPage","lengthData"]}},"required":["list","pagination"],"additionalProperties":false}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"],"additionalProperties":false}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"],"additionalProperties":false}}}},"500":{"description":"Response for status 500","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"error":{"type":"string"}},"required":["msg","error"],"additionalProperties":false}}}}},"operationId":"getApiPromotion-book"},"post":{"tags":["Promotion Management"],"description":"Create promotion","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"default":"PERCENTAGE","type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"value":{"type":"number"},"startDate":{"default":"2025-12-16T17:55:38.975Z","anyOf":[{"default":"2025-12-16T17:55:38.975Z","type":"Date"},{"format":"date-time","default":"2025-12-16T17:55:38.975Z","type":"string"},{"format":"date","default":"2025-12-16T17:55:38.975Z","type":"string"},{"default":1765907738975,"type":"number"}]},"endDate":{"default":"2025-12-23T17:55:38.980Z","anyOf":[{"default":"2025-12-23T17:55:38.980Z","type":"Date"},{"format":"date-time","default":"2025-12-23T17:55:38.980Z","type":"string"},{"format":"date","default":"2025-12-23T17:55:38.980Z","type":"string"},{"default":1766512538980,"type":"number"}]},"isActive":{"type":"boolean"},"books":{"default":[],"type":"array","items":{"type":"string"}},"configFe":{"type":"object","properties":{}}},"required":["code","name","description","type","value","startDate","endDate","isActive","books"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"default":"PERCENTAGE","type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"value":{"type":"number"},"startDate":{"default":"2025-12-16T17:55:38.975Z","anyOf":[{"default":"2025-12-16T17:55:38.975Z","type":"Date"},{"format":"date-time","default":"2025-12-16T17:55:38.975Z","type":"string"},{"format":"date","default":"2025-12-16T17:55:38.975Z","type":"string"},{"default":1765907738975,"type":"number"}]},"endDate":{"default":"2025-12-23T17:55:38.980Z","anyOf":[{"default":"2025-12-23T17:55:38.980Z","type":"Date"},{"format":"date-time","default":"2025-12-23T17:55:38.980Z","type":"string"},{"format":"date","default":"2025-12-23T17:55:38.980Z","type":"string"},{"default":1766512538980,"type":"number"}]},"isActive":{"type":"boolean"},"books":{"default":[],"type":"array","items":{"type":"string"}},"configFe":{"type":"object","properties":{}}},"required":["code","name","description","type","value","startDate","endDate","isActive","books"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"default":"PERCENTAGE","type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"value":{"type":"number"},"startDate":{"default":"2025-12-16T17:55:38.975Z","anyOf":[{"default":"2025-12-16T17:55:38.975Z","type":"Date"},{"format":"date-time","default":"2025-12-16T17:55:38.975Z","type":"string"},{"format":"date","default":"2025-12-16T17:55:38.975Z","type":"string"},{"default":1765907738975,"type":"number"}]},"endDate":{"default":"2025-12-23T17:55:38.980Z","anyOf":[{"default":"2025-12-23T17:55:38.980Z","type":"Date"},{"format":"date-time","default":"2025-12-23T17:55:38.980Z","type":"string"},{"format":"date","default":"2025-12-23T17:55:38.980Z","type":"string"},{"default":1766512538980,"type":"number"}]},"isActive":{"type":"boolean"},"books":{"default":[],"type":"array","items":{"type":"string"}},"configFe":{"type":"object","properties":{}}},"required":["code","name","description","type","value","startDate","endDate","isActive","books"]}}}},"responses":{"201":{"description":"Response for status 201","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}},"500":{"description":"Response for status 500","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"error":{"type":"string"}},"required":["msg","error"]}}}}},"operationId":"postApiPromotion-book"}},"/api/promotion-book/{id}":{"get":{"tags":["Promotion Management"],"security":[],"description":"Get promotion by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"value":{"type":"number"},"startDate":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"endDate":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"isActive":{"type":"boolean"},"createdAt":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"updatedAt":{"anyOf":[{"type":"Date"},{"format":"date-time","type":"string"},{"format":"date","type":"string"},{"type":"number"}]},"books":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"viewCount":{"type":"number"},"picture":{"type":"string"},"auth":{"nullable":true,"anyOf":[{"type":"object","properties":{"email":{"type":"string"},"name":{"type":"string"},"avatarUrl":{"type":"string"}},"required":["email","name","avatarUrl"]},{"type":"null"}]}},"required":["id","name","slug","description","viewCount","picture","auth"]}}},"required":["id","code","name","description","type","value","startDate","endDate","isActive","createdAt","updatedAt","books"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}}},"operationId":"getApiPromotion-bookById"},"patch":{"tags":["Promotion Management"],"description":"Update promotion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"default":"PERCENTAGE","type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"value":{"type":"number"},"startDate":{"default":"2025-12-16T17:55:38.975Z","anyOf":[{"default":"2025-12-16T17:55:38.975Z","type":"Date"},{"format":"date-time","default":"2025-12-16T17:55:38.975Z","type":"string"},{"format":"date","default":"2025-12-16T17:55:38.975Z","type":"string"},{"default":1765907738975,"type":"number"}]},"endDate":{"default":"2025-12-23T17:55:38.980Z","anyOf":[{"default":"2025-12-23T17:55:38.980Z","type":"Date"},{"format":"date-time","default":"2025-12-23T17:55:38.980Z","type":"string"},{"format":"date","default":"2025-12-23T17:55:38.980Z","type":"string"},{"default":1766512538980,"type":"number"}]},"isActive":{"type":"boolean"},"books":{"default":[],"type":"array","items":{"type":"string"}},"configFe":{"type":"object","properties":{}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"default":"PERCENTAGE","type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"value":{"type":"number"},"startDate":{"default":"2025-12-16T17:55:38.975Z","anyOf":[{"default":"2025-12-16T17:55:38.975Z","type":"Date"},{"format":"date-time","default":"2025-12-16T17:55:38.975Z","type":"string"},{"format":"date","default":"2025-12-16T17:55:38.975Z","type":"string"},{"default":1765907738975,"type":"number"}]},"endDate":{"default":"2025-12-23T17:55:38.980Z","anyOf":[{"default":"2025-12-23T17:55:38.980Z","type":"Date"},{"format":"date-time","default":"2025-12-23T17:55:38.980Z","type":"string"},{"format":"date","default":"2025-12-23T17:55:38.980Z","type":"string"},{"default":1766512538980,"type":"number"}]},"isActive":{"type":"boolean"},"books":{"default":[],"type":"array","items":{"type":"string"}},"configFe":{"type":"object","properties":{}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"default":"PERCENTAGE","type":"string","enum":["PERCENTAGE","FIXED_AMOUNT","FREE_SHIPPING"]},"value":{"type":"number"},"startDate":{"default":"2025-12-16T17:55:38.975Z","anyOf":[{"default":"2025-12-16T17:55:38.975Z","type":"Date"},{"format":"date-time","default":"2025-12-16T17:55:38.975Z","type":"string"},{"format":"date","default":"2025-12-16T17:55:38.975Z","type":"string"},{"default":1765907738975,"type":"number"}]},"endDate":{"default":"2025-12-23T17:55:38.980Z","anyOf":[{"default":"2025-12-23T17:55:38.980Z","type":"Date"},{"format":"date-time","default":"2025-12-23T17:55:38.980Z","type":"string"},{"format":"date","default":"2025-12-23T17:55:38.980Z","type":"string"},{"default":1766512538980,"type":"number"}]},"isActive":{"type":"boolean"},"books":{"default":[],"type":"array","items":{"type":"string"}},"configFe":{"type":"object","properties":{}}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}},"500":{"description":"Response for status 500","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"error":{"type":"string"}},"required":["msg","error"]}}}}},"operationId":"patchApiPromotion-bookById"},"delete":{"tags":["Promotion Management"],"description":"Delete promotion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}},"500":{"description":"Response for status 500","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"error":{"type":"string"}},"required":["msg","error"]}}}}},"operationId":"deleteApiPromotion-bookById"}},"/api/address":{"get":{"tags":["Address Management"],"security":[],"description":"Get all address divisions of Vietnam","responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}}},"operationId":"getApiAddress"}},"/api/address/{divname}":{"get":{"tags":["Address Management"],"security":[],"description":"Get all wards for the selected division","parameters":[{"name":"divname","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}},"required":["msg"]}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"},"fields":{"type":"object","patternProperties":{"^(.*)$":{"type":"array","items":{"type":"string"}}}}},"required":["msg","fields"]}}}}},"operationId":"getApiAddressByDivname"}},"/api/status":{"post":{"security":[],"description":"Set status code.","tags":["System"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number"},"msg":{"type":"string"},"time":{"type":"number"}},"required":["code","msg"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"code":{"type":"number"},"msg":{"type":"string"},"time":{"type":"number"}},"required":["code","msg"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"code":{"type":"number"},"msg":{"type":"string"},"time":{"type":"number"}},"required":["code","msg"]}}}},"operationId":"postApiStatus"}}}}